@use '../../../styles/media-querie-variables.scss' as *;
@use '../../../styles/media-queries.scss' as *;
@use '../../../styles/fonts.scss' as *;
@use '../../../styles/colors.scss' as *;

.publisher-page-link {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    background-color: $accent-color;
    transition-property: width, height;
    transition: .15s cubic-bezier(0.33, 1, 0.68, 1);

    @include media-from($desktopMaxWidth) {
        width: convertValueToVW(25rem);
        height: convertValueToVW(25rem);
    }
    
    &:hover {
        transform: scale(1.2);
    }
}