@use '../../note-error/note-error.scss' as *;
@use '../../../../styles/colors.scss' as *;
@use '../../../../styles/_media-queries.scss' as *;
@use '../../../../styles/_media-querie-variables.scss' as *;
@use '../../../../styles/fonts.scss' as *;
@use '../../../../styles/mixins/set-font-size.scss' as *;

.default-input {
    $transition-duration: .5s;

    $input-padding-top: 12rem;
    $input-padding-bottom: $input-padding-top;
    $input-padding-left: 15rem;
    $input-borderWidth: 3rem;

    display: flex;
    flex-direction: column;
    position: relative;
    border-left: $input-borderWidth solid $accent-color;
    padding: $input-padding-top 0 $input-padding-bottom $input-padding-left;

    @include media-from($desktopMaxWidth) {
        border-width: convertValueToVW($input-borderWidth);
        padding: convertValueToVW($input-padding-top) 0 convertValueToVW($input-padding-bottom) convertValueToVW($input-padding-left);
    }

    &.default-input_error {
        .note-error {
            display: flex;
        }

        .default-input__hint {
            display: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        $info-margin-bottom: 10rem;

        margin: 0 0 $info-margin-bottom;

        @include media-from($desktopMaxWidth) {
            margin: 0 0 convertValueToVW($info-margin-bottom);
        }
    }

    &__icon-and-name {
        $top-position: 50%;
        $left-position: $input-padding-left;

        position: absolute;
        top: $top-position;
        display: flex;
        order: -1;
        pointer-events: none;
        transform: translateY(-50%);
        
        $icon-and-name-margin-bottom: 8rem;

        @include media-till($desktopMaxWidth) {
            left: $left-position;
            margin: 0 0 $icon-and-name-margin-bottom;
        }    

        @include media-from($desktopMaxWidth) {
            margin: 0 0 convertValueToVW($icon-and-name-margin-bottom);
            left: convertValueToVW($left-position);
        }
    }

    &__icon {
        // TODO: Убрать масштабирование обводки иконки
        $icon-width: 18rem;
        $icon-margin-right: 8rem; 

        width: 18rem;
        margin: 0 8rem 0 0;

        @include media-from($desktopMaxWidth) {
            width: convertValueToVW($icon-width);
            margin: 0 convertValueToVW($icon-margin-right) 0 0;
        }
    }

    &__name {
        display: block;
        text-transform: lowercase;
        color: $accent-color;
        @include setFontDefault(14rem);
    }

    &__input {
        $input-height: 20rem;

        border: none;
        padding: 0;
        height: $input-height;
        @include setFontSize(13rem);

        @include media-from($desktopMaxWidth) {
            height: convertValueToVW($input-height);
        }

        &:hover {
            cursor: pointer;
        }

        &:focus-visible, &__input:focus {
            outline:none;
        }

        &:focus + .default-input__icon-and-name, 
        &:focus-visible + .default-input__icon-and-name, 
        &:not(:placeholder-shown) + .default-input__icon-and-name {
            position: static;
            pointer-events: none;
            transform: none;
        }
    
        &:focus ~ .default-input__hint-and-error, 
        &:focus-visible ~ .default-input__hint-and-error,
        &:not(:placeholder-shown) ~ .default-input__hint-and-error {
            display: block;
        }
    }

    &__hint-and-error {
        display: none;
    }

    &__hint, .note-error {
        $hint-error-margin-top: 10rem;

        margin: $hint-error-margin-top 0 0;


        @include media-from($desktopMaxWidth) {
            margin: convertValueToVW($hint-error-margin-top) 0 0;
        }
    }

    &__hint {
        @include setFontDefault(12rem);
        color: $walrus-color;
        text-transform: lowercase;
    }

    .note-error {
        display: none;
    }
}