@use '../../styles/general.scss';
@use '../../components/ui/news/news.scss';
@use '../../components/ui/modal-window/modal-window.scss';
@use './portions/comments/comments.scss';
@use '../../components/ui/screen-scrolling/screen-scrolling.scss';

.index {
    padding: 0 30rem;

    .comments {
        display: none;
        
    }

    .news-section {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40rem;
    }

    &__comments-section {
        z-index: 1;
    }
}