include ../../components/ui/news/news-template
include ../../components/ui/comment/comment-template
include ../../layouts/base-layout
include ./portions/comments/comments

+baseLayout('index', 'index', 'index')
	+comments()
	section.news-section
	
+news()

+comment()