include ../../components/ui/news/news
include ../../layouts/base-layout


+baseLayout('index')
	section.news-section
		+news(
			'У FTX проблемы с выводом средств на фоне конфликта с Binance. Объясняем, что происходит',
			'@Войтенко',
			'С самого утра 7 ноября клиенты централизованной криптовалютной биржи FTX наблюдают проблемы со стабильностью работы биржи.')
