@use '../../../styles/_media-querie-variables.scss' as *;
@use '../../../styles/_media-queries.scss' as *;
@use '../../../styles/fonts.scss' as *;
@use '../../../styles/colors.scss' as *;
@use '../../../styles/functions/convert-value-to-vw.scss' as *;
@use '../buttons/_accent.scss';
@use '../buttons/button.scss';
@use '../buttons/_states.scss';

.news {
    position: relative;
    padding: 0 45rem 0 0;
    max-width: 600rem;

    @include media-from($desktopMaxWidth) {
        max-width: convertValueToVW(600rem);
        padding: 0 convertValueToVW(45rem) 0 0;
    }

    &__title {
        @include setFontNewsTitle();
        margin: 0;
    }

    &__author-comment-section {
        margin: 25rem 0 0;

        @include media-from($desktopMaxWidth) {
            margin: convertValueToVW(25rem) 0 0;
        }
    }

    &__author-name {
        color: $accent-color;
        @include setFontDefaultMedium();
    }

    &__author-comment {
        @include setFontDefault();
        margin: 8rem 0 0;

        @include media-from($desktopMaxWidth) {
            margin: convertValueToVW(8rem) 0 0;
        }
    }

    &__controllers {
        display: flex;
        justify-content: space-between;
        margin: 15rem 0 0;

        @include media-from($desktopMaxWidth) {
            margin: convertValueToVW(15rem) 0 0;
        }
    }

    &__sources {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 5rem;
        right: 0;

        .news__source:not(:first-child) {
            margin: 10rem 0 0;

            @include media-from($desktopMaxWidth) {
                margin: convertValueToVW(10rem) 0 0;
            }
        }
    }

    &__source,
    &__share {
        $size: 35rem;
        $sizeMobile: 25rem;

        border-radius: 50%;
        transition: transform .15s cubic-bezier(0.33, 1, 0.68, 1);
        background-color: $accent-color;

        @include media-from($width576) {
            width: $size;
            height: $size;
        }

        @include media-from($desktopMaxWidth) {
            width: convertValueToVW($size);
            height: convertValueToVW($size);
        }

        @include media-till($width576) {
            width: $sizeMobile;
            height: $sizeMobile;
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    &__source {
        &:hover {
            cursor: alias;
        }
    }

    &__share {
        $marginTop: 25rem;

        margin-top: $marginTop;
        border: none;
        fill: $white-color;

        @include media-from($desktopMaxWidth) {
            margin-top: convertValueToVW($marginTop);
        }

        &:focus-visible {
            fill: $white-color;
        }
    
        &:hover {
            cursor: pointer;
        }
    
        &:active {
            fill: $accent-color;
            background-color: $black-color;
        }
    
        &:disabled {
            fill: $walrus-color;
        }
    }

    &__source-icon {
        @include media-from($width576) {
            transform: scale(.7);
        }

        @include media-till($width576) {
            transform: scale(.7) translateX(.7rem);
        }
    }

    .button {
        height: 26rem;

        @include media-from($desktopMaxWidth) {
            height: convertValueToVW(26rem);
        }
    }
}