@use '../../components/ui/buttons/button.scss';
@use '../../components/ui/note-error/note-error.scss';
@use '../../components/ui/inputs/default-input/default-input.scss';
@use '../../styles/_media-queries.scss' as *;
@use '../../styles/_media-querie-variables.scss' as *;

.login {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    $login-max-width: 560rem;

    @include media-till($desktopMaxWidth) {
        max-width: $login-max-width;
    }

    @include media-from($desktopMaxWidth) {
        max-width: convertValueToVW($login-max-width);
    }
}

.login-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    &__fields, &__action-and-error {
        display: flex;
    }

    &__fields {
        padding: 0 10rem;
    }

    &__action-and-error {
        justify-content: space-between;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 3;

        $action-and-error-margin-top: 30rem;

        @include media-till($desktopMaxWidth) {
            margin: $action-and-error-margin-top 0 0;
        }    

        @include media-from($desktopMaxWidth) {
            margin: convertValueToVW($action-and-error-margin-top) 0 0;
        }
    }

    .field{
        width: 100%;

        &:first-child {
        margin: 0 20rem 0 0;
    }}

    .error-note {
        display: none;
    }
}