include ../../components/ui/news/news
include ../../components/ui/comment/comment
include ../../layouts/base-layout
include ./components/back-to-news



+baseLayout('index')
        section.comment-section
                .comment-section__typing 
                        textarea.input-expressive(type="text" name="comment" rows="1" placeholder="Enter your comment")
                .comment-list
                        +comment('@cs-ssv',
                        'Smiling could easily be misinterpreted for showing your teeth to someone because they said something that made you happy')
                +backToNews('comment-section__back')
