@use '../../../styles/fonts.scss' as *;
@use '../../../styles/mixins/set-font-size.scss' as *;
@use '../../../styles/colors.scss' as *;

.comment {
    @include setFontDefault(14rem);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;

    &_hidden {
        transform: translateY(100%);
        opacity: 0;
    }

    &_shown {
        opacity: 1;
        transform: translateY(0);
    }

    &__nickname {
        color: $accent-color;
        margin: 0;

        &_writer {
            @include setFontDefaultMedium();
        }
    }

    &__text {
        margin: 8rem 0 0;
        color: $black-color;
        font-size: inherit;

        &_writer {
            @include setFontSize(16rem);
        }
    }
}