.comment {
    @include setFontDefault(14rem);

    &__nickname {
        color: $accent-color;

        &_writer {
            @include setFontDefaultMedium();
        }
    }

    &__text {
        margin: 8rem 0 0;
        color: $black-color;
        font-size: inherit;

        &_writer {
            @include setFontSize(16rem);
        }
    }
}