@use '../../../styles/_base-includes' as *;
@use '../../../styles/animations/headShake.scss' as *;
@use '../../../styles/functions/convert-value-to-vw.scss' as *;

.note-error {
    display: flex;
    align-items: center;

    &_shake {
        animation-name: headShake;
        animation-timing-function: ease-in-out;
        animation-duration: .7s;
    }

    &__image {
        max-width: 24rem;
        stroke: $accent-color;
        align-self: flex-start;

        @include media-from($desktopMaxWidth) {
            max-width: convertValueToVW(24rem);
        }
    }

    &__text {
        color: $accent-color;
        @include setFontDefault(12rem);
        margin: 0 0 0 6rem;

        @include media-from($desktopMaxWidth) {
            margin: 0 0 0 convertValueToVW(6rem);
        }
    }

    &_hidden {
        display: none;
    }
}