@use '../../styles/general.scss' as *;
@use '../../code/ui-components/buttons/button.scss';
@use '../../code/ui-components/buttons/_accent.scss';
@use '../../code/ui-components/note-error/note-error.scss';
@use '../../code/ui-components/inputs/default-input/default-input.scss';

.sign-up {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    $singUpMaxWidth: 560rem;
    $singUpMaxPaddingTablet: 40rem;

    @include media-from($width576) {
        max-width: $singUpMaxWidth;
        padding: $singUpMaxPaddingTablet;
    }

    @include media-from($desktopMaxWidth) {
        max-width: convertValueToVW($singUpMaxWidth);
        padding: convertValueToVW($singUpMaxPaddingTablet);
    }

    @include media-till($width576) {
        max-width: 440rem;
        padding: 30rem;
    }
    

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__inputs-stack {
        display: grid;
        align-items: center;
        width: 100%;

        $gap: 25rem;

        @include media-from($desktopMaxWidth) {
            gap: convertValueToVW($gap);
        }

        @include media-till($desktopMaxWidth) {
            gap: $gap;
        }

        @include media-from($width576) {
            grid-template-columns: repeat(2, 1fr);
        }

        &__input {
            height: fit-content;
        }
    }

    &__controller {
        display: flex;
        align-self: flex-end;

        $gap: 25rem;
        $submitButtonMarginTop: 25rem;

        @include media-till($desktopMaxWidth) {
            margin: $submitButtonMarginTop 0 0;
            gap: $gap;
        }

        @include media-from($width576) {
            gap: convertValueToVW($gap);
            margin: convertValueToVW($submitButtonMarginTop) 0 0;
        }
    }

    .button:disabled {
        display: none;
    }
}