@use '../../../../styles/fonts.scss' as *;
@use '../../../../styles/colors.scss' as *;

.input-expressive {
    @include setFontNewsTitle();

    border: none;
    resize: none;
    padding: 0;

    &:hover, &:focus {
        color: $young-crab-color;
        outline: none;
    }

    &:hover:not(:focus):not(:placeholder-shown) {
        color: $accent-color;
    }

    &:not(:placeholder-shown) {
        color: $black-color;
    }
}