mixin backToNews(parrentClass)
    button#back-to-news.back-to-news(class=parrentClass)
        span.back-to-news__lable Back To News
        <svg class="back-to-news__arrow display-more-767" width="30" height="184" viewBox="0 0 30 184" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5 181C12.5 182.381 13.6193 183.5 15 183.5C16.3807 183.5 17.5 182.381 17.5 181H12.5ZM15 0L0.566243 25H29.4338L15 0ZM17.5 181V22.5H12.5V181H17.5Z"/>
        </svg>
        <svg class="back-to-news__arrow display-less-768" width="12" height="26" viewBox="0 0 12 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 25C5 25.5523 5.44772 26 6 26C6.55229 26 7 25.5523 7 25L5 25ZM7 25L7 5L5 5L5 25L7 25Z"/>
            <path d="M6 0L11.1962 10.5H0.803848L6 0Z"/>
        </svg>

    