include ../../../layouts/base-layout
include ../../../code/ui-components/inputs/default-input/default-input.pug
include ../../../code/ui-components/note-error/note-error-template.pug

+baseLayout('sign-up')
	form.form#sign-up
		+defaultInput('you login', 'use login to sign in account', 'this login is used')(class="form__input" title="The login value can only contain latin characters, digits and some special characters «.», «_», «-»." id="login-field" type="text" pattern="^[-a-zA-Z._\\d]*$" minlength="4" maxlength="16" name="login" required)
			<svg><use xlink:href="#user"></use></svg>

		+defaultInput("your nickname", "This field is required", "you public name")(class="form__input" id="nickname-field" type="type" minlength="4" maxlength="16" name="nickname" required)
			<svg><use xlink:href="#pen"></use></svg>

		+defaultInput("password", 'password protects your account', "password is easy")(class="form__input" id="password-field" title="Password is easy. Use a combination of at least 8 characters of digits, uppercase and lowercase letters, and non-alpha numeric numbers. Example: |YlzEc|1" type="password" name="password" pattern="^(?=.*\\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\\w\\d\\s:])([^\\s]){8,256}$" required)
			<svg><use xlink:href="#lock"></use></svg>

		+defaultInput("confirm password", 'check password is correct', "passwords are not matched")(class="form__input" id="password-required-field" type="password" name="password_confirmation" required)
			<svg><use xlink:href="#lock"></use></svg>

		note-error#error.form__error(error-message="API Server is die" hidden)

		.form__controller
			button#regress.button.button_accent(type="button") back
			button#progress.button.button_accent(type="button") next

	+noteError()
		