include ../../components/ui/inputs/default-input/default-input.pug
include ../../layouts/base-layout

+baseLayout('singup')
	+defaultInput('text', 'login', '././', 'Your Login', 'It uses for singin to accautnt', 'some error')