include ../../components/ui/inputs/default-input/default-input.pug
include ../../layouts/base-layout

+baseLayout('singup')
	section.singup__container
		div.singup__actions
			a.button(href="../index/index.html") Home
			form.singup__form
				+defaultInput('text', 'fullname', '././', 'Enter your full name', 'It is used to communication', 'This field is requered')
				+defaultInput('email', 'email', '././', 'Enter your e-mail', 'It is used to communication', 'This field is requered')
				+defaultInput('text', 'bio', '././', 'Tell about tou', 'It is used to analyze your candidacy', 'This field is requered')
				button.button.button_accent(type="submit") Next
			p.singup__info <span class="singup__info-highlight">Заявка на авторство</span>: мы в активном поиске талантливых авторов. Заплни поля формы и отправте ее. После расмотрения заявки мы свяжемся с табой.
		picture
			source(media="(max-width: 1024px)", srcset="./img/man-mobile.png" alt='Old Phone')
			img.singup__illustration(src="./img/man.png", alt="A man is sitting on the ground")