mixin baseLayout(classOfMainSection = 'index', nameJSBundle = 'index', nameCSSBundle = 'style')
    doctype html
    html
        head 
            title News 
            link(rel="stylesheet", href=`./${nameCSSBundle}.css`)
        body
            include ../assets/icons.svg 
            include ../assets/social-networks.svg
            main(class=classOfMainSection)
                block
            script(src=`./${nameJSBundle}.js`, type="module") 