@use '../../../styles/_media-querie-variables.scss' as *;
@use '../../../styles/_media-queries.scss' as *;
@use '../../../styles/fonts.scss' as *;
@use '../../../styles/colors.scss' as *;
@use '../../../styles/functions/convert-value-to-vw.scss' as *;

.news {
    position: relative;
    padding: 0 45rem 0 0;
    max-width: 600rem;

    @include media-from($desktopMaxWidth) {
        max-width: convertValueToVW(600rem);
        padding: 0 convertValueToVW(45rem) 0 0;
    }

    &__title {
        @include setFontNewsTitle();
    }

    &__author-comment-section {
        margin: 25rem 0 0;

        @include media-from($desktopMaxWidth) {
            margin: convertValueToVW(25rem) 0 0;
        }
    }
    
    &__author-name {
        color: $accent-color;
        @include setFontDefaultMedium();
    }

    &__author-comment {
        @include setFontDefault();
        margin: 8rem 0 0;

        @include media-from($desktopMaxWidth) {
            margin: convertValueToVW(8rem) 0 0;
        }
    }

    &__controllers {
        display: flex;
        justify-content: space-between;
        margin: 15rem 0 0;

        @include media-from($desktopMaxWidth) {
            margin: convertValueToVW(15rem) 0 0;
        }
    }

    &__publisher-page-links {
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 5rem;
        right: 0;

        .publisher-page-link:not(:first-child) {
            margin: 10rem 0 0;

            @include media-from($desktopMaxWidth) {
                margin: convertValueToVW(10rem) 0 0;
            }
        }
    }

    .button {
        width: 144rem;
        height: 26rem;

        @include media-from($desktopMaxWidth) {
            width: convertValueToVW(144rem);
            height: convertValueToVW(26rem);
        }
    }
}