mixin newsStatistics()
    ul.news-statistics
        li#views.news-statistics__item
            svg.news-statistics__preview-icon 
                use(xlink:href="../../../assets/icons.svg#eye")
        li#comments.news-statistics__item
            svg.news-statistics__preview-icon
                use(xlink:href="../../../assets/icons.svg#chat")