@use '../../../styles/fonts.scss' as *;
@use '../../../styles/media-querie-variables.scss' as *;
@use '../../../styles/media-queries.scss' as *;
@use '../../../styles/colors.scss' as *;

.news-statistics {
    @include setFontDefaultMedium();
    display: flex;
    color: $tamahagane-color;
    margin: 0;
    padding: 0;
    $space-between-items: 17rem;
    gap: $space-between-items;

    @include media-from($desktopMaxWidth) {
        gap: convertValueToVW($space-between-items);
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__preview-icon {
        width: 24rem;
        height: 24rem;
        stroke: $tamahagane-color;
        margin: 0 10rem 0 0;

        @include media-from($desktopMaxWidth) {
            width: convertValueToVW(24rem);
            margin: 0 convertValueToVW(10rem) 0 0;
        }
    }
}