@use '../../../styles/_base-includes.scss' as *;
@use '../../../styles/functions/convert-value-to-vw.scss' as *;
@use './_states.scss';

.button {
    @include setFontButton();
    color: $accent-color;
    background-color: transparent;
    border: none;
    padding: 4rem 10rem;
    min-width: fit-content;
    border-radius: 4rem;
    text-decoration: none;

    @include media-from($desktopMaxWidth) {
        padding: convertValueToVW(4rem) convertValueToVW(10rem);
        border-radius: convertValueToVW(4rem);
    }

    @extend .button_states;
}