$width320: 320px;
$width375: 375px;
$width576: 576px;
$width768: 768px;
$width992: 992px;
$width1024: 1024px;

$width1280: 1280px;
$desktopMaxWidth: $width1280;

$width1440: 1440px;
$width1920: 1920px;