@use './reset.scss' as *;
@use './normalize.css' as *;
@use './base-includes' as *;
@forward './base-includes';

* {
    box-sizing: border-box;
}

::selection {
    color: $white-color;
    background-color: $accent-color;
}

html {
    font-size: 1px;
}

body {
    @include setFontDefault(10rem);
    caret-color: $accent-color;
}

// Display Classes

.display-more-767 {
    @include media-till($width768) {
        display: none;
    }
}

.display-less-768 {
    @include media-from($width768) {
        display: none;
    }
}