@import './reset.scss';
@import './normalize.css';

@import './media-querie-variables.scss';
@import './media-queries.scss';

@import './functions/functions.scss';
@import './mixins/mixins.scss';

@import './colors.scss';
@import './fonts.scss';

* {
    box-sizing: border-box;
}

::selection {
    color: $white-color;
    background-color: $accent-color;
}

html {
    font-size: 1px;
}

body {
    font-size: 10rem;
    caret-color: $accent-color;
}

// Display Classes

.display-more-767 {
    @include media-till($width768) {
        display: none;
    }
}

.display-less-768 {
    @include media-from($width768) {
        display: none;
    }
}