@use '../../../../styles/base-includes' as *;

.default-input.default-input_rich {
    $fieldBorderWidth: 5rem;
    $fieldPaddingTop: 25rem;
    $fieldPaddingBottom: $fieldPaddingTop;
    $fieldPaddingLeft: 28rem - $fieldBorderWidth;
    $fieldPaddingRight: 20rem;

    @include media-till($desktopMaxWidth) {
        padding: $fieldPaddingTop $fieldPaddingRight $fieldPaddingBottom $fieldPaddingLeft;
        border-width: 5rem;
    }

    @include media-from($desktopMaxWidth) {
        padding: convertValueToVW($fieldPaddingTop) convertValueToVW($fieldPaddingRight) convertValueToVW($fieldPaddingBottom) convertValueToVW($fieldPaddingLeft);
        border-width: convertValueToVW(5rem);
    }

    .default-input__input {
        $input-height: 22rem;
        
        color: $tamahagane-color;

        @include setFontDefaultBold();

        @include media-till($desktopMaxWidth) {
            height: $input-height;
        }
    
        @include media-from($desktopMaxWidth) {
            height: convertValueToVW($input-height);
        }

        &:focus ~ .default-input__hint-and-error, 
        &:focus-visible ~ .default-input__hint-and-error,
        &:not(:placeholder-shown) ~ .default-input__hint-and-error {
            $hint-and-error-margin-top: 16rem;

            @include media-till($desktopMaxWidth) {
                margin: $hint-and-error-margin-top 0 0;
            }
        
            @include media-from($desktopMaxWidth) {
                margin: convertValueToVW($hint-and-error-margin-top) 0 0;
            }
        }
    }
    
    .default-input__hint-and-error {
        display: block;
    }

    .default-input__icon-and-name {
        transform: none;
        
        $lableMarginBottom: 3rem;

        @include media-till($desktopMaxWidth) {
            top: $fieldPaddingTop;
            left: $fieldPaddingLeft;
            margin: 0 0 $lableMarginBottom;
        }
    
        @include media-from($desktopMaxWidth) {
            top: convertValueToVW($fieldPaddingTop);
            left: convertValueToVW($fieldPaddingLeft);
            margin: 0 0 convertValueToVW($lableMarginBottom);
        }
    }

    .default-input__icon {
        display: none;
    }

    .default-input__hint, .note-error {
        margin: 0;
    }
}